<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/style-alugar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel - Rent Car</title>
</head>

<body>
    <main>
        <div id="info-car">
            <div class="foto">
                <img src="/images/urus.jpg" alt="">
            </div>
            <div id="tudo">
                <div class="info">
                    <ul>
                        <li>Ano: 2017</li>
                        <li>Cor: Amarelo</li>
                        <li>Marca: Lamborghini</li>
                        <li>Modelo: Urus</li>
                        <li>Placa: OPX 2554</li>
                        <li>Valor Aluguel: R$ 1200,00/dia</li>
                    </ul>
                </div>
                <div class="price">
                    <p>Valor total previsto</p>
                    <h1>R$ 1200,00</h1>
                    <p>Em até 10x de R$120,00</p>
                </div>
                <div class="pagamento">
                    <a href="./pagamento.html" id="pagamento">Pagar</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>